<div class="container">
<form>
 <label>First Name:</label>
<input type="text" [(ngModel)]="firstname" name="firstname"/><br>
<label>Last Name:</label>
<input type="text" [(ngModel)]="lastname" name="lastname"/><br>
<label>Address:</label>
<input type="text" [(ngModel)]="address" name="address"/><br>
<label>City:</label>
<input type="text" [(ngModel)]="city" name="city"/><br>
<label>State:</label>
<input type="text" [(ngModel)]="state" name="state"/><br>
<label>Choose Password:</label>
<input type="password" [(ngModel)]="password" name="password"/><br>
<label>Confirm Password:</label>
<input type="password" [(ngModel)]="confirmpassword" name="confirmpassword"/><br>
<button class="btn btn-default" name="Login" (click)="onRegister()" value="Login" >Register</button>
</form>    
</div>