<div class="container">
<form>
 <label>First Name:</label>
<input type="text" [(ngModel)]="firstname" name="firstname"/><br>
<label>Last Name:</label>
<input type="text" [(ngModel)]="lastname" name="lastname"/><br>
<label>First1 Name:</label>
<input type="text" [(ngModel)]="firstname1" name="firstname1"/><br>
<label>First2 Name:</label>
<input type="text" [(ngModel)]="firstname2" name="firstname2"/><br>
<label>First4 Name:</label>
<input type="text" [(ngModel)]="firstname4" name="firstname4"/><br>
<label>Choose Password:</label>
<input type="password" [(ngModel)]="password" name="password"/><br>
<label>Confirm Password:</label>
<input type="password" [(ngModel)]="confirmpassword" name="confirmpassword"/><br>
<button class="btn btn-default" name="Login" (click)="onRegister()" value="Login" >Register</button>
</form>    <div>